
/node_modules
/.vscode

/target/*
target/deploy/bridge.so
!/target/deploy/
!/target/deploy/bridge-keypair.json
!/target/idl/
!/target/idl/bridge.json
!/target/types/
!/target/types/bridge.ts

/.anchor
.env.devnet
.env.mainnet
test-ledger
.local.id.json
/cli/.config/** 
*.key
